<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Make Today Worth It </title>
    <meta name="description" content="Motivate your day">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="assets/icons/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>

<script id="dob-template" type="text/x-handlebars-template">
    <div class="modal show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h1>When were you born?</h1>
                        <form class="top64">
                            <input type="date" class="form-control" name="dob" id="dob">
                            <br>
                            <button class="btn btn-lightblue btn-block top32" type="submit"><h4>MOTIVATE <i
                                    class="fa fa-sun-o"></i></h4></button>
                            <form>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="close btn btn-default" data-dismiss="modal" id="settings-btn-hide">Close <i class="fa fa-times"></i>
                    </button>-->
                </div>
            </div>
        </div>
    </div>
</script>


<div class="settings-button">
    <a class="btn btn-transparent font-xl" id="settings-btn-show">
        <i class="fa fa-cogs"></i>
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-12">
            <div id="today">
                <h3 class="pull-right"><span id="date"></span></h3>

                <h1>
                    <span class="timer" data-speed="1000" data-from="365" data-to="100" id="days-count"></span>
                    days <br>until new year
                </h1>

            </div>
        </div>
    </div>
</div>

<div id="app"></div>

<script id="age-template" type="text/x-handlebars-template">
    <div class="container">
        <div class="row">
            <div id="age" class="col-md-3 col-md-offset-12 text-center">
                <h1>You are currently
                    <br>
                    <span class="count">{{year}}<sup>.{{milliseconds}}</sup></span>
                    <br>
                    years old </h1>

            </div>
        </div>
    </div>
</script>

<div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div id="quote">
                    <h3 id="quote-text"></h3>
                    <b><p class="text-white pull-right">- <span id="author"></span></p></b>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- scripts -->
<script type="text/javascript" src="assets/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
<script type="text/javascript" src="assets/js/newyearcountdown.js"></script>
<script type="text/javascript" src="assets/js/handlebars.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/quotes.js"></script>

</body>
</html>
