/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
.container-full {
  width:100%;
}
.overlay {
  margin-top:20px;
  background:rgba(0,0,0,0.6);
}
.text-white {
    color:#fff;
}

.font-xl {
    font-size:30px;
}
.top32 { margin-top:32px;}
.top64 { margin-top:64px;}

.btn-transparent {
   background:rgba(0,0,0,0);
   color:rgb(191,226,223);
}
.btn-lightblue {
   background:rgb(191,226,223);
   color:#000;
}

.settings-button {
    position:absolute;
    right:0px;
    top:50px;
 }
 
/******************* Sections ********************/
#today {
    margin-top:10%;
    text-align:center;

}
#today h1 {
    display: inline-block;
    color:#fff;
    padding:20px;
    background:rgba(0,0,0,0.4);
}
#today h3 {
    display: inline-block;
    color:#fff;
    padding:10px;
    background:rgba(0,0,0,0.4);
}

#age h1 {
    display: inline-block;
    color:#fff;
    padding:20px;
    background:rgba(0,0,0,0.4);
}
#age h3 {
    display: inline-block;
    color:#fff;
    padding:10px;
    background:rgba(0,0,0,0.4);
}
 #quote {
    margin-top:30px;
}

#quote h3 {
    padding:20px 10px 20px 10px;
    color:#fff;
    font-style:italic;
}

.count {
  color: #fff;
  margin: 0;
  font-weight: 600;
}

.count sup {
  font-size: 0.4em;
  margin-left: 7px;
}

/******************* Modal ********************/
        .modal-content {
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background:rgba(255,255,255,0.9);
}

